{% extends 'base.html' %}
{% load static %}
{% block title %}
privacy policy
{% endblock %}
{% block content %}
<section class="privacy">
  <div class="section-wrapper">
    <h2 class="title">privacy policy</h2>
    <p>At Odinaba, the privacy of our visitors is of utmost importance to us. This privacy policy outlines the type of personal information that is received and collected by Odinaba and how it is used.</p>
    <h4 class="sub-title">Information Collected:</h4>
    <p>When you visit Odinaba, we may collect and store certain information about your visit, such as your IP address, browser type, date and time of access, and the pages you visited. We may also collect information about your device, including its operating system and version.</p>
    <p>We may collect personal information when you voluntarily submit it to us, such as when you comment on our blog posts or sign up for our newsletter. The information we collect may include your name, email address, and any other information you choose to provide.</p>
    <h4 class="sub-title">Use of Information:</h4>
    <p>Odinaba uses the information collected to improve the website and provide a better user experience for our visitors. We may also use your personal information to send you updates about new content or other promotional offers related to Odinaba. You may opt-out of these communications at any time by following the instructions in the email.</p>
    <h4 class="sub-title">Disclosure of Information:</h4>
    <p>Odinaba does not sell, trade, or rent personal information to third parties. We may share non-personally identifiable information with third-party analytics and advertising providers to help us understand how our website is being used and to serve more relevant ads to our visitors.</p>
    <p>We may disclose personal information if required to do so by law or to protect the rights, property, or safety of Odinaba or its visitors.</p>
    <h4 class="sub-title">Cookies:</h4>
    <p>Odinaba may use cookies to improve the user experience on our website. Cookies are small text files that are stored on your device when you access our website. They allow us to recognize your device and remember certain information about your preferences.</p>
    <p>You may choose to disable cookies in your browser settings, but this may limit your ability to use some features of Odinaba.</p>
    <h4 class="subtitle">Security:</h4>
    <p>Odinaba takes reasonable precautions to protect the personal information we collect from unauthorized access, use, or disclosure. However, no security measures can provide 100% protection, so we cannot guarantee the security of your personal information.</p>
    <h4 class="sub-title">Changes to this Privacy Policy:</h4>
    <p>Odinaba may update this privacy policy from time to time. We will notify you of any significant changes by posting a prominent notice on our website or by sending you an email.</p>
    <h4 class="sub-title">Contact Us:</h4>
    <p>If you have any questions or concerns about this privacy policy, please contact us at info@odinaba.com</p>
  </div>
</section>
{% endblock %}

